/* utilities styles */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
button{
    padding: 20px 25px;
    background-color: #FF900E;
    color: #fff;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
}
button h1{
    font-size: 64px;
    font-weight: 700;
}

/* header styles */
header{
    background-color: rgba(255, 144, 14, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0 45px 0;
}
.header{
    width: 90%;
}
/* nav bar */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}
/* banner */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 102px;
}
.banner-text{
    width: 862px;
    text-align: center;
    margin-bottom: 50px;
}
.banner-text h1{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
    line-height: 75px;
}
.banner-text p{
    color: #727272;
    margin: 14px 0 33px 0;
    line-height: 26px;
}
.banner-image img{
    width: 100%;
}

/* main section styles */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 130px;
}
.main{
    width: 90%;
}


/* features list section styles */
.features-lists{
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 74px;
    width: 90%;
}
.features-list-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 50%;
}
.features-list-image img{
    width: 100%;
}
.features-list-text{
    width: 50%;
}
.features-list-text h2{
    font-size: 45px;
    font-weight: 700;
    line-height: 52px;
    color: #131313;
}
.span-1{
    color: #727272;
    font-weight: 50;
}
.span-2{
    color: #FF900E;
}
.features-list-text p{
    color: #727272;
    line-height: 26px;
    margin: 24px 0 32px 0;
}

/* providing features styles */
.providing-features{
    margin: 130px 0;
}
.providing-feature{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 146px;
}
.providing-features-text{
    width: 45%;
}
.providing-features-text-section-title{
    position: relative;
    padding-left: 20px;
}
.providing-features-text-section-title::before{
    content: '';
    background-color: #FF900E;
    width: 5px;
    height: 106px;
    position: absolute;
    top: 0;
    left: 0;
}
.providing-features-text-section-title h2{
    color: #131313;
    font-size: 35px;
    font-weight: 700;
    line-height: 52px;
}
.providing-features-text-section-describe{
    margin: 24px 0 30px 0;
}
.providing-features-text-section-describe p{
    color: #727272;
    line-height: 26px;
}
.card{
    padding: 30px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}
.card h5{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}
.card p{
    color: #727272;
    line-height: 26px;
    margin-top: 10px;
}
.providing-features-image{
    width: 55%;
    position: relative;
}
.providing-features-image button{
    padding: 45px;
    line-height: 70px;
    position: absolute;
    bottom: -100px;
    left: -100px;
}
.providing-features-image img{
    width: 100%;
}








/* responsive styles */

/* mobile screen */
@media screen and (max-width: 576px){
    /* header responsive */
    .navigation{
        flex-direction: column;
        gap: 10px;
    }
    .logo{
        font-size: 2em;
    }
    nav ul{
        flex-direction: column;
        gap: 8px;
    }
    .banner{
        margin-top: 24px;
    }
    .banner-text{
        width: 95%;
    }
    .banner-text h1{
        font-size: 2em;
        line-height: normal;
    }
    .banner-text p{
        line-height: normal;
    }

    /* main section responsive */
    main{
        margin-top: 45px;
        margin-bottom: 65px;
    }

    /* features list section responsive */
    .features-list{
        flex-direction: column;
        gap: 24px;
    }
    .features-list-image{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .features-list-text{
        width: 100%;
    }
    .features-list-text h2{
        font-size: 2em;
        line-height: normal;
    }
    .features-list-text p{
        line-height: normal;
    }

    /* providing features section */
    .providing-feature{
        flex-direction: column-reverse;
        gap: 45px;
    }
    .providing-features-text{
        width: 100%;
    }
    .providing-features-text-section-title::before{
        height: 80px;
    }
    .providing-features-text-section-title h2{
        line-height: normal;
    }
    .providing-features-text-section-title p{
        line-height: normal;
    }
    .card p{
        line-height: normal;
    }
    .providing-features-image{
        width: 100%;
    }
    button h1{
        font-size: 24px;
    }
    .providing-features-image button{
        padding: 20px 24px;
        line-height: normal;
        bottom: 0;
        left: 0;
    }
}


/* tablate screen */
@media screen and (min-width: 577px) and (max-width: 768px) {
    /* header responsive */
    .navigation{
        flex-direction: column;
        gap: 10px;
    }
    .logo{
        font-size: 3em;
    }
    nav ul{
        flex-direction: column;
        gap: 8px;
    }
    .banner{
        margin-top: 24px;
    }
    .banner-text{
        width: 95%;
    }
    .banner-text h1{
        font-size: 3em;
        line-height: normal;
    }
    .banner-text p{
        line-height: normal;
    }

    /* main section responsive */
    main{
        margin-top: 65px;
        margin-bottom: 95px;
    }

    /* features list section responsive */
    .features-list{
        flex-direction: column;
        gap: 34px;
    }
    .features-list-image{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .features-list-text{
        width: 100%;
    }
    .features-list-text h2{
        font-size: 3em;
        line-height: normal;
    }
    .features-list-text p{
        line-height: normal;
    }

    /* providing features section */
    .providing-feature{
        flex-direction: column-reverse;
        gap: 45px;
    }
    .providing-features-text{
        width: 100%;
    }
    .providing-features-text-section-title::before{
        height: 50px;
    }
    .providing-features-text-section-title h2{
        line-height: normal;
    }
    .providing-features-text-section-title p{
        line-height: normal;
    }
    .card p{
        line-height: normal;
    }
    .providing-features-image{
        width: 100%;
    }
    button h1{
        font-size: 24px;
    }
    .providing-features-image button{
        padding: 20px 24px;
        line-height: normal;
        bottom: 0;
        left: 0;
    }
}